:host {
    width: 100%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.shortcut__label {
    width: 100%;
    display: block;
    display: flex;
}

.shortcut__input {
    position: absolute;
    width: 1px;
    height: 1px;
    clip-path: inset(0 0 0 0);
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.shortcut__row {
    border: 1px solid black;
    border-radius: 3px;
    min-height: 40px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.shortcut__input:focus + .shortcut__row {
    border: 1px solid #457cee;
    outline: 2px solid #457cee;
}

.shortcut__input:focus + .shortcut__row_in-progress{
    border: 1px solid black;
    outline: none;
}

.shortcut__input:focus + .shortcut__row_valid {
    border: 1px solid #457cee;
    outline: 2px solid #457cee;
}

.shortcut__keys-list {
    list-style: none;
    margin: 0;
    padding: 0 8px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.shortcut__keys-list-item {
    margin: 0;
    padding: 0;
}

.shortcut__key {
    margin: 0;
    padding: 4px 8px;
    background: #dadada;
    border-radius: 8px;
    color: #292929;
}

.shortcut__placeholder {
    margin: 0 auto;
    padding: 0;
    color: #b1b1b1;
}
